{% extends "base.html" %}

{% block content %}
<div class="sub-title">
    <div class="sub-title">
        <h2>Contact Me</h2>
        <a href="/blogs"><i class="icon-home"></i></a>
     </div>
</div>

<div class="col-md-12 content-page">
<div class="col-md-12 blog-post">

    <!-- Intro Start -->
    <div class="post-title margin-bottom-10">
       <h1>I hope you are fine with my implementation!</h1>
       </div>

         <!-- Intro End -->
    <p>I did in the past lot of administration sides with Java and JSPs. The syntax is similar to Flask but I have to say we had to write lots more code. ;-) I like this micro framework because you are fast up and running and it is easy to understand.</p>

    <p>As you can see I did also an sqlite integration and used an existing free blog HTML template. I know you wrote I should keep it simple but it shows more the real world usage.</p>

    <!-- Contact Me Start -->
   <div class="post-title margin-top-70">
      <h1>Contact Me</h1>
     </div>


     <div class="row">

         <p>If you have any questions or more examples to do feel free to contact me anytime!</p>

       <div class="col-md-4 col-sm-4">
         <div class="contact-us-detail">
          <i class="icon-screen-smartphone color-6"></i>
          <p><a href="tel:+436649485764">+43 664 9485764</a></p>
        </div>
       </div>

       <div class="col-md-8 col-sm-8">
         <div class="contact-us-detail">
          <i class="icon-envelope-open color-5"></i>
          <p><a href="mailto:j.dieber@dieber-software-consulting.co.at">j.dieber@dieber-software-consulting.co.at</a></p>
        </div>
       </div>
      </div>

    </div>
</div>
</div>
{% endblock %}